<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jazz.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="p-5">
        <nav class ="mx-2">
            <a href="/" class="px-3" >Home</a>
            <a href="/dashboard" class="px-3">Dashboard</a>
            {{#if loggedIn}}
            <a href="#" class="px-3">Logout</a>
            {{!-- <button id="logout" class="btn-no-style">Logout</button> --}}
            {{else}}
            <a href="/login" class="px-3" >Login</a>
            {{/if}}
        </nav>
        <h1 class="m-2 p-3">The Tech Blog</h1>
    </header>
        <main class="container container-fluid mt-5">
        {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}
</body>
</html>