<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jazz.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="p-5">
        <nav class ="mx-2">
            <a href="/" class="px-3" >Home</a>
            <p  class="px-3">To make a post you must sign up or log in using the form below. If you only want to read the blogs you can click home to return to the home page. </p> 
            
            
         


        <h1 class="m-2 p-3">The Tech Blog</h1>
    </header>
    <main>

     
    </main> 

    <script src="/js/login.js"></script>
</body>
</html> 